@import "tailwindcss";
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";

html, body {
  background-color: #F7F4EF !important; /* Warm Beige Suave */
  color: #4A3728 !important;            /* Terracotta Brown Escuro */
}

:root {
  --mantine-color-body: #F7F4EF !important;
  /* Altera a cor padrão do circuito do Stepper e botões ativos do Mantine para a sua paleta */
  --mantine-color-rose-filled: #A76D5E !important; 
  --mantine-color-rose-light: #EAE3D8 !important;
}

/* Forçar os textos secundários do Next/Mantine a entrarem na paleta terrosa */
.text-stone-500, .mantine-Stepper-stepDescription {
  color: #7A6855 !important;
}

.text-stone-400 {
  color: #9C8A77 !important;
}

/* Deixar os inputs com um fundo sutil que combina com a paleta */
.mantine-Input-input {
  background-color: #FAF8F5 !important;
  border-color: #EAE3D8 !important;
  color: #4A3728 !important;
}

.mantine-Input-input:focus {
  border-color: #A76D5E !important;
}